{% extends "base.html" %}
{%block title %}Home{%endblock%}
{%block content%}

<style>
.content {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
</style>

<div class="content">
    <h1 align="center">Student Attendance Management System</h1>
    <br/>
<h5 align="center">This website has been created to view student roll calls which have been recorded by using real-time face recognition.</h5>
    <br/>
<h1 align="center">Login to see more!</h1>
</div>


{%endblock%}