<!DOCTYPE html>
<html>
<title>Face-Rec Cam</title>
{%block content%}

  <body>
    <h1>Real-Time Face Recognition Cam</h1>
    <div>

        <img src="{{ url_for('views.video') }}" width="70%" />
    </div>

  <br/>
  <h4>Current Course is {{course_title}}</h4>
  <h4>Students who take this course</h4>
  <ul class="list-group list-group-flush" id="students">

    {% for student in students %}
    <li class="list-group-item">
        {{student.first_name}}

    </li>
    {%endfor%}
     </ul>

    </body>

 {%endblock%}
</html>